<div class="container-fluid">
    <form (ngSubmit)="resetpassword()" [formGroup]="resetpasswordForm">
      <div class="row vh-100 auth-background-image align-items-center">
        <div class="col-md-4 offset-md-4">
          <mat-card class="p-4 transparent-auth-card">
            <h1 class="text-center">
              <strong>Minipixel</strong>
            </h1>
            <h2>Reset Password</h2>
  
            <div class="row">
              <div class="col-12">
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>New Password</mat-label>
                  <input
                    [type]="showPassword ? 'text' : 'password'"
                    matInput
                    formControlName="newPassword"
                  />
  
                  <mat-icon *ngIf="!showPassword" (click)="toggleShow()" matSuffix
                    >visibility</mat-icon
                  >
                  <mat-icon *ngIf="showPassword" (click)="toggleShow()" matSuffix
                    >visibility_off</mat-icon
                  >
  
                  <mat-error
                    *ngIf="
                      resetpasswordForm.controls['newPassword'].hasError(
                        'required'
                      )
                    "
                  >
                    New Password is required
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Confirm Password</mat-label>
                  <input
                    [type]="showConfirmPassword ? 'text' : 'password'"
                    matInput
                    formControlName="confirmNewPassword"
                  />
  
                  <mat-icon
                    *ngIf="!showConfirmPassword"
                    (click)="toggleConfirmShow()"
                    matSuffix
                    >visibility</mat-icon
                  >
                  <mat-icon
                    *ngIf="showConfirmPassword"
                    (click)="toggleConfirmShow()"
                    matSuffix
                    >visibility_off</mat-icon
                  >
  
                  <mat-error
                    *ngIf="
                      resetpasswordForm.controls['confirmNewPassword'].hasError(
                        'required'
                      )
                    "
                  >
                    New Password is required
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
  
            <div class="row">
              <div class="col-12">
                <button
                  type="submit"
                  [disabled]="!resetpasswordForm.valid"
                  mat-raised-button
                  class="full-width"
                  color="primary"
                >
                  Reset Password
                </button>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
    </form>
  </div>
  