<mat-sidenav-container class="sidenav-container">
 <mat-toolbar color="primary">
    <div class="container-fluid p-0">
      <div class="row m-0 align-items-center">
        <div class="col-md-4 p-0">
          E-Commerce
        </div>
        <div class="col-md-2 p-0">
          Home
        </div>
        <div class="col-md-2 p-0">
        Products          
        </div>
        <div class="col-md-2 p-0">
          Contact          
          </div>
        <div class="col-md-2 p-0">
          <button class="float-end" mat-icon-button>
            <mat-icon>logout</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </mat-toolbar>
</mat-sidenav-container>
