<div class="container pd-4">
  <div class="content">
    <app-title title="Order Form" fontSize="1.6rem"></app-title>
    <form [formGroup]="checkoutForm">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />

        <mat-error *ngIf="checkoutForm.controls['name'].hasError('required')">
          name is-required
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Address</mat-label>
        <input matInput formControlName="address" />

        <mat-error
          *ngIf="checkoutForm.controls['address'].hasError('required')"
        >
          Address is-required
        </mat-error>
      </mat-form-field>
    </form>
    <app-order-items-list [order]="order"></app-order-items-list>
    <app-title title="Choose Your Address On Map" fontSize="1.6rem"></app-title>
    <map [order]="order"></map>
  </div>

  <div class="buttons-container">
    <div class="buttons">
      <button (click)="createOrder()">Go To Payment</button>
    </div>
  </div>
</div>
